body {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  background: black;
  color: white;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

label {
  margin: .5em .5em 0 .5em;
}

div {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 0 0 .1em 0px;
  background-color: orangered;
}

input {
  border: 1.5px black solid;
  margin: .5em .5em;
  width: min-content;
  margin: .5em .5em;
}

.button {
  width: fit-content;
  margin: 1em 0;
}

textarea {
  border: 1.5px black solid;
  margin: .5em 0;
  width: min-content;
  margin: 6.6625px 0px;
  width: 157px;
  height: 32px;
  margin: .5em .5em;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  padding: .5em;
}

.entryContainer {
  padding: .5em;
  background: orangered
}

button {
  border-radius: .4em;
}

.editContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 0 0 .1em 0px;
  background: orangered;
}